<div class="navbar">
    <div><b>E-Learning</b></div>
    <div>
        <a href="/">Home</a>
        <a href="/courses">Courses</a>
        <a href="/contact">Contact</a>

        <% if (user) { %>
            <a href="/logout">Logout</a>
        <% } else { %>
            <a href="/login">Login</a>
        <% } %>
    </div>
</div>

<style>
.navbar {
    background: #333;
    padding: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.navbar a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.navbar a:hover {
    color: yellow;
}
</style>