<div class="navbar">
    <div><b>E-Learning</b></div>

    <div>
        <a href="/">Home</a>

        <% if (user) { %>
            <a href="/dashboard">Dashboard</a>
            <a href="/logout">Logout</a>
        <% } else { %>
            <a href="/register">Register</a>
            <a href="/login">Login</a>
        <% } %>
    </div>
</div>

<style>
.navbar {
    background: #333;
    padding: 15px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
}

.navbar a:hover {
    color: yellow;
}
</style>